{%  extends "base.html" %}

{% block title %}
    Home Page
{% endblock %}

<body>
    <main>
        <div class="big-wrapper light">
            {% block content  %}
                <div class="showcase-area">
                    <div class="container">
                        <div class="left">
                            <div class="big-title">
                                <h1>Future is here,</h1>
                                <h1>Start Exploring now.</h1>
                            </div>
                            <p class="text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Delectus eius distinctio odit, magni magnam qui ex perferendis
                                vitae!
                            </p>
                            <div class="cta">
                                <a href="{{ url_for('register') }}" class="btn">Get started</a>
                            </div>
                        </div>

                        <div class="right">
                            <img src="https://t4.ftcdn.net/jpg/05/85/02/95/360_F_585029518_0FezVLgIaFHV5l0JqtL9dEeericXuJbM.jpg" alt="Person Image" class="person" />
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>
        
    </main>
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>