{%  extends "base.html" %}

{% block title %}
    Register Page
{% endblock %}
    
<style>
    body {
        background-color: #333;
    }
    
    .container {
        max-width: 400px;
        margin: 0 auto;
        text-align: center;
    }
    
    .form-register {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: auto;
    }
    
    .form-register .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
    }
    
    .form-register input[type="text"],
    .form-register input[type="email"],
    .form-register input[type="password"] {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .btn {
        display: inline-block;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        user-select: none;
        border: 1px solid transparent;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;
        transition: color .15s ease-in-out,
                    background-color .15s ease-in-out,
                    border-color .15s ease-in-out,
                    box-shadow .15s ease-in-out;
    }
    
    .btn-primary {
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
    }
    
    .btn-primary:hover {
        color: #fff;
        background-color: #0069d9;
        border-color: #0062cc;
    }
    
    .btn-secondary {
        color: #fff;
        background-color: #6c757d;
        border-color: #6c757d;
    }
    
    .btn-secondary:hover {
        color: #fff;
        background-color: #5a6268;
        border-color: #545b62;
    }    
</style>

{% block content %}
<body>
    <form method="POST" class="form-register" style="color: white">

        <div class="container ">
            {{ form.hidden_tag() }}     <!--To prevent attacks: Cross Site Request Forgery-->

            <h1 class="h3 font-weight-normal mt-5">
                Please Create an Account
            </h1>

            {{ form.username.label() }}
            {{ form.username(class="form-control", placeholder="Username") }}

            {{ form.email.label() }}
            {{ form.email(class="form-control", placeholder="Email Address") }}

            {{ form.password1.label() }}
            {{ form.password1(class="form-control", placeholder="Password") }}
        
            {{ form.password2.label() }}
            {{ form.password2(class="form-control", placeholder="Password") }}

            <br>
            <div>
                <h6>Alredy have an accout?</h6>
                <a class="btn btn-sm btn-secondary" href="{{ url_for('login_page') }}">Login</a>
            </div>
            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
        
        </div>

    </form>
</body>

{% endblock %}