{%  extends "base.html" %}

{% block title %}
    Home Page
{% endblock %}

<body>
    <main>
        <div class="big-wrapper light">
            {% block content  %}
                <div class="showcase-area">
                    <div class="container">
                        <div class="left">
                            <div class="big-title">
                                <h1>Future is here,</h1>
                                <h1>Start Exploring now.</h1>
                            </div>
                            <p class="text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Delectus eius distinctio odit, magni magnam qui ex perferendis
                                vitae!
                            </p>
                            <div class="cta">
                                <a href="{{ url_for('register') }}" class="btn">Get started</a>
                            </div>
                        </div>

                        <div class="right">
                            <img src="https://t4.ftcdn.net/jpg/05/85/02/95/360_F_585029518_0FezVLgIaFHV5l0JqtL9dEeericXuJbM.jpg" alt="Person Image" class="person" />
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>
        
    </main>
    <script src="https://cdn.botpress.cloud/webchat/v1/inject.js"></script>
    <script>
    window.botpressWebChat.init({
        "composerPlaceholder": "Learn Stocks with The BeanStock",
        "botConversationDescription": "This Chatbot is conversational and human like. It will help users with stock news and prices",
        "botId": "5c3a3d77-6fb6-469b-84f3-93e8aca5b986",
        "hostUrl": "https://cdn.botpress.cloud/webchat/v1",
        "messagingUrl": "https://messaging.botpress.cloud",
        "clientId": "5c3a3d77-6fb6-469b-84f3-93e8aca5b986",
        "webhookId": "f5a9262f-38cc-4654-bfb7-451b796e4f76",
        "lazySocket": true,
        "themeName": "prism",
        "botName": "BeanStock",
        "stylesheet": "https://webchat-styler-css.botpress.app/prod/de811551-a62d-401d-aad3-6650a1c9821e/v51922/style.css",
        "frontendVersion": "v1",
        "useSessionStorage": true,
        "enableConversationDeletion": true,
        "theme": "prism",
        "themeColor": "#2563eb"
      });
    </script>
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>