{%  extends "base.html" %}

{% block title %}
    Livemarket Page
{% endblock %}
<body>
    <main>
        <div class="big-wrapper light">
            {% block content %}
                <!-- <div class="showcase-area">
                <div class="container"> -->
                    <!-- TradingView Widget BEGIN -->
                    <div class="tradingview-widget-container" style="width: max-content; min-height: max-content;">
                        <div class="tradingview-widget-container__widget" style="justify-content: center;"></div>
                        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-screener.js" async>
                            {
                                "width": "100vh",
                                "height": "100vh",
                                "defaultColumn": "overview",
                                "defaultScreen": "most_capitalized",
                                "market": "india",
                                "showToolbar": true,
                                "colorTheme": "dark",
                                "locale": "en"
                            }
                        </script>
                    </div>
                    <!-- TradingView Widget END -->
                <!-- </div>
            </div> -->

            {% endblock %}
        </div>   
    </main>
    <script src="https://cdn.botpress.cloud/webchat/v1/inject.js"></script>
    <script>
    


